@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/vazir.ttf") format("truetype");
}

/* Body */
body {
  font-family: "Vazir" !important;
}
a {
  text-decoration: none;
}

/* Utilities */
.hover-grow {
  transition: all 0.5s;
}
.hover-grow:hover {
  transform: scale(1.1);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.8 !important;
}

/* header */
.header-scrolled {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgb(1 41 112 /10%);
}
.header {
  transition: all 0.5s;
  padding: 20px 0px;
}

@media (max-width: 992px) {
  .header {
    background: #fff;
  }
}

/* Intro */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../img/intro/intro-bg.png") top center no-repeat;
  background-size: cover;
}

/* About */
.content {
  background-color: #f6f9ff;
  padding: 40px;
}

/* Counts */
.count i {
  font-size: 2.7rem;
}

.count i.blue {
  color: #4154f1;
}
.count i.orange {
  color: #ee6c20;
}
.count i.green {
  color: #15be56;
}

.count i.red {
  color: #bb0852;
}
/* Features */
.feature i {
  font-size: 2.7rem;
  color: #4154f1;
}
/* Services */
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.4s;
}
.services .service-box i {
  font-size: 2.2rem;
  padding: 20px;
  line-height: 0;
  display: inline-block;
  border-radius: 4px;
}
.services .service-box .read-more i {
  font-size: 1rem;
  line-height: 0;
  margin-right: 0.4rem;
}
.services .service-box .read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}
.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}
.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}
.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}
.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}
.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}
.services .service-box.blue .read-more {
  color: #2db6fa;
}
.services .service-box.orange .read-more {
  color: #f68c09;
}
.services .service-box.green .read-more {
  color: #08da4e;
}
.services .service-box:hover .icon {
  background: #fff;
}
.services .service-box:hover {
  color: #fff;
}
.services .service-box.blue:hover {
  background: #2db6fa;
}
.services .service-box.orange:hover {
  background: #f68c09;
}
.services .service-box.green:hover {
  background: #08da4e;
}
.services .service-box:hover .read-more {
  color: #fff;
}
/* Pricing */
.pricing .card{
 transition: all .3s;
}
.pricing .card:hover{
 transform:scale(1.1)
}
